.navBarContainer {
    background-color: var(--background-color-navBar);
    backdrop-filter: blur(7px);
    z-index: 100;
    padding: 0.2rem;
    position: sticky;
    top: 0;
    height: 60px;
}

.navBar {
    max-width: 1200px;
    margin: auto;
}

.navList {
    display: flex;
    width: 100%;
    flex-direction: row;
    gap: 3rem;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    padding-right: 1rem;
}

.navItem {
    display: flex;
    flex-direction: row;
    gap: 6px;
    align-items: center;
    font-size: var(--navIconSize);
    font-weight: 600;
    color: var(--text-color);
    cursor: pointer;
    font-family: 'Inter Tight', sans-serif;
}

.navIcon {
    width: var(--navIconSize);
    height: var(--navIconSize);
}

@media (max-width: 800px) {}