.navBarContainer {
    background-color: var(--background-color-navBar);
    backdrop-filter: blur(10px);
    z-index: 100;
    padding: 0.2rem;
    position: sticky;
    top: 0;
    height: 60px;
}

.navBar {
    max-width: 1200px;
}

.navList {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    list-style: none;
    align-items: center;
    justify-content: flex-end;
}

.navItem {
    display: flex;
    flex-direction: row;
    gap: 6px;
    align-items: center;
    font-size: var(--navIconSize);
    font-weight: 400;
    color: var(--text-color);
}

.navIcon {
    width: var(--navIconSize);
    height: var(--navIconSize);
}