.projectCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
    background-color: var(--background-color2);
    width: 280px;
    height: 100%;
    border-radius: 5px;
    box-shadow: 1px 1px 10px var(--background-color2);
}

.projectImgDiv {
    width: 280px;
    height: 280px;
    border-radius: inherit;
    opacity: 0.8;
}

.projectImgDiv:hover {
    width: 280px;
    height: 280px;

}

.projectData {
    width: inherit;
    height: 100%;
    width: 100%;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: space-between;
    padding: 4px 8px;
    font-family: 'Inter Tight', sans-serif;
}

.projectSummary,
.projectTitle {
    font-family: 'Noto Sans', sans-serif;
}

.projectTitle,
.projectSummary,
.projectDescription,
.stackDiv {
    width: inherit;
    padding: 5px;
    margin: 0;
    width: 100%;
}

.projectDescription {
    text-align: justify;
}

.stackDiv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    justify-self: flex-end;
    justify-content: center;
}

.stackSpan {
    border: 1px solid var(--accent-color);
    background-color: var(--accent-color);
    color: var(--background-color2);
    font-weight: 700;
    border-radius: 3px;
    padding: 2px 4px;
}

.linksDiv {
    display: flex;
    margin: auto;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.projectLink {
    border-bottom: 1px solid var(--accent-color);
    display: flex;
    gap: 4px;
}