@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@400;500;600;700&family=Noto+Sans:wght@100;400;500;600;700');

:root {
  --navIconSize: 20px;
  --background-color: #161315;
  --background-color2: #dfcd9c;
  --accent-color: #a0292f;
  --text-color: #ddc4af;
  --text-color-email: #250606;
  --background-color-navBar: rgba(0, 3, 39, 0.125);
}

html,
body {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  background: var(--background-color);
  color: var(--text-color);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}