.aboutDiv {
    padding: 0rem 3rem;
}

.aboutParagraph {
    font-size: 1.2rem;
    padding: 0 2rem;
    font-weight: 400;
    text-align: justify;
    font-family: 'Inter Tight', sans-serif;
    line-height: 1.5rem;
}

@media (max-width:1024px) {
    .aboutParagraph {
        font-size: 1rem;
    }
}