.aboutDiv {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.aboutTitle {
    font-size: 2.2rem;
    letter-spacing: 1px;
    font-weight: 700;
    font-family: 'Noto Sans', sans-serif;
}

.aboutParagraph {
    font-size: 1.2rem;
    padding: 0 2rem;
    font-weight: 400;
    text-align: justify;
    font-family: 'Inter Tight', sans-serif;
    line-height: 1.5rem;
}